.hidden{display: none;}
body{color:rgb(74, 148, 59); font-family:"Courier New", Courier, monospace; text-align: center; background:rgb(0, 0, 0) }
canvas{border-style: double; background-image: linear-gradient(to right, rgb(224, 221, 221) , rgb(221, 221, 221), rgb(255, 255, 255) )}
